.button {
  background-color: transparent;
  border: 0;
  padding: 0.5em 1em;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

.button.button--primary {
  background-color: navyblue;
  color: white;
}
